/* --- BASIC SETTINGS --- */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500;700&display=swap');

:root {
  --color-primary: #303030;
  --color-secondary: #f1f1f1;
  --color-accent: #00aeae;
  --color-header: #000;
  --color-footer: #707070;
}

*,
*::before,
*::after,
h1,
h2 {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  padding: 0 20px;
}

.white-space {
  padding: 70px 0;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 0 40px;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    max-width: 980px;
    margin: auto;
  }

  .white-space {
    padding: 80px 0;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    padding: 0;
    max-width: 1140px;
  }
}

/* --- Typography --- */
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.5;
  color: var(--color-primary);
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2.5rem;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 5.5rem;
  }

  h2 {
    font-size: 3.5rem;
  }
}

@media screen and (min-width: 1200px) {
  body {
    font-size: 1.8rem;
  }
}

/* --- Links --- */
.link {
  text-decoration: none;
  color: var(--color-secondary);
}

.link--nav {
  font-size: 1.6rem;
}

.link--nav:hover {
  color: var(--color-accent);
}

.link--about {
  color: var(--color-accent);
  font-size: 1.4rem;
  font-weight: 500;
  transition: color 0.2s;
}

.link--about:hover {
  color: #00d4d4;
}

.link--card {
  color: var(--color-primary);
  font-size: 1.4rem;
}

@media screen and (min-width: 768px) {
  .link--nav {
    font-size: 1.8rem;
  }

  .link--about {
    font-size: 1.6rem;
  }

  .link--card {
    font-size: 1.6rem;
  }
}

/* --- Lists --- */
.list {
  list-style: none;
  padding-left: 0;
}

/* --- Button --- */
.btn {
  font-size: 1.6rem;
  font-weight: 500;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
}

.btn--accent {
  background: var(--color-accent);
  color: var(--color-secondary);
  transition: background 0.2s;
}

.btn--accent:hover {
  background: #00d4d4;
}

.btn--normal {
  display: block;
  width: 11.5rem;
  padding: 1rem 0;
}

.btn--full {
  width: 100%;
  height: 3.5rem;
}

@media screen and (min-width: 768px) {
  .btn {
    font-size: 1.8rem;
  }

  .btn--normal {
    width: 14rem;
    padding: 1.5rem 0;
  }

  .btn--full {
    height: 5rem;
  }
}

/* --- Input --- */
.input,
.textarea {
  background-color: inherit;
  width: 100%;
  border: 1px solid var(--color-secondary);
  border-radius: 5px;
  outline: 0;
  padding: 1rem;
}

.input[type='text'],
.input[type='email'],
.textarea[name='text'] {
  font-weight: 300;
  color: var(--color-secondary);
}

.input[type='text']:focus,
.input[type='email']:focus,
.textarea[type='text']:focus {
  font-weight: 300;
  border-color: var(--color-accent);
}

.input {
  height: 3.5rem;
}

.textarea {
  height: 9rem;
  resize: none;
}

::placeholder {
  font-size: 1.4rem;
  color: #c4c4c4;
}

@media screen and (min-width: 768px) {
  .input {
    height: 5rem;
  }

  .textarea {
    height: 15rem;
  }

  ::placeholder {
    font-size: 1.6rem;
  }
}

/* Icons */
.icon {
  width: 16px;
  height: 16px;
}

.icon--footer {
  color: var(--color-footer);
}

@media screen and (min-width: 768px) {
  .icon {
    width: 18px;
    height: 18px;
  }
}

@media screen and (min-width: 1024px) {
  .icon--bars {
    display: none;
  }
}

/* --- Flexboxes --- */
.flex {
  display: flex;
}

.flex--col {
  flex-direction: column;
}

/* --- Grids --- */
.grid {
  display: grid;
}

@media screen and (min-width: 1024px) {
  .grid--1x2 {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid--3x2 {
    grid-template-rows: 0.2fr 0.8fr 0.1fr;
    grid-template-columns: 0.369fr 0.631fr;
  }
}

/* ---------- HEADER SECTION ---------- */
header {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(/images/hero.png);
  background-size: cover;
  background-position: center;
  color: var(--color-secondary);
}

.overlay {
  background-color: rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 5;
}

/* --- Navigation Bar --- */
.logo {
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: -0.2rem;
}

nav {
  background-color: var(--color-header);
  width: 100%;
  position: fixed;
  z-index: 10;
}

.navbar {
  height: 7rem;
  justify-content: space-between;
  align-items: center;
}

.toggle-button {
  justify-content: space-between;
  width: 3rem;
  height: 2.25rem;
  cursor: pointer;
}

.bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

.nav-items {
  background-color: var(--color-header);
  width: 65%;
  height: 75vh;
  justify-content: space-evenly;
  position: absolute;
  right: 0;
  top: 70px;
}

.link--nav {
  padding: 3rem;
}

hr {
  border: none;
  height: 1px;
  background: var(--color-footer);
  opacity: 0.75;
  margin: 0 1rem;
}

.link--nav.active {
  color: var(--color-accent);
  font-weight: 500;
}

.hidden {
  display: none;
}

@media screen and (min-width: 1024px) {
  .overlay,
  .toggle-button,
  .nav-items .social-media {
    display: none;
  }

  .nav-items {
    width: 43.6rem;
    flex-direction: row;
    position: static;
    height: 7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 0;
  }
}

@media screen and (min-with: 1200px) {
  .nav-items {
    width: 46.9rem;
  }
}

/* --- Hero --- */
.hero {
  height: 100vh;
  align-items: center;
}

.hero-textbox {
  height: 32rem;
  width: 100%;
  justify-content: space-between;
}

.hero-textbox h1 {
  width: 28rem;
  line-height: 1.2;
  letter-spacing: -0.2rem;
}

.hero-textbox p {
  margin-bottom: 6rem;
}

@media screen and (min-width: 768px) {
  .hero-textbox {
    height: 29rem;
    width: 52rem;
  }

  .hero-textbox h1 {
    width: 100%;
    line-height: 1.5;
    letter-spacing: -0.35rem;
  }

  .hero-textbox p {
    margin-bottom: 6rem;
  }
}

@media screen and (min-width: 1024px) {
  .hero-textbox {
    width: 65rem;
  }
}

/* ---------- ABOUT SECTION ---------- */
.about-content {
  row-gap: 4rem;
  justify-items: center;
}

.profile-photo {
  width: 60%;
}

.profile-summary {
  text-align: center;
}

.profile-summary p {
  margin-bottom: 1rem;
}

@media screen and (min-width: 768px) {
  .about-content {
    row-gap: 5rem;
  }
}

@media screen and (min-width: 1024px) {
  .about-content {
    row-gap: 1rem;
    column-gap: 6%;
  }

  .about-content h2 {
    justify-self: left;
  }

  .profile-photo {
    width: 100%;
    order: -1;
    grid-row: 1/4;
    justify-self: start;
  }

  .profile-summary {
    grid-column: 2;
    justify-self: left;
    text-align: left;
    margin-top: -1rem;
    margin-bottom: 1.2rem;
  }

  .link--about {
    grid-column: 2;
    justify-self: end;
    align-self: end;
  }
}

@media screen and (min-width: 1200px) {
  .about-content {
    column-gap: 8%;
  }

  .profile-summary {
    margin-top: -4rem;
  }
}

/* ---------- PROJECTS SECTION ---------- */
#projects {
  background-color: #ececec;
}

#projects h2 {
  text-align: center;
  margin-bottom: 4rem;
}

.my-projects {
  row-gap: 4rem;
  justify-items: center;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: var(--color-body-secondary);
  border-radius: 10px;
  transition: transform 0.25s;
}

.card:hover {
  transform: scale(1.02);
}

/* --- Card Content --- */
.project-photo {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.project-caption {
  font-weight: 700;
  margin: 1rem 2rem 0;
}

.card p {
  height: 7rem;
  margin: 1rem 2rem 0;
}

@media screen and (min-width: 768px) {
  .my-projects {
    row-gap: 5rem;
  }

  .project-caption {
    margin: 1rem 2rem;
  }

  .card p {
    margin: 0 2rem;
  }
}

@media screen and (min-width: 1024px) {
  .my-projects {
    column-gap: 6%;
  }
}

@media screen and (min-width: 1200px) {
  .my-projects {
    column-gap: 8%;
  }
}

/* ---------- FOOTER SECTION ---------- */
footer {
  padding-top: 70px;
  background-color: #303030;
  color: var(--color-secondary);
}

/* --- Contacts --- */
.my-contact {
  row-gap: 4rem;
}

.contact-content {
  height: 17.3rem;
  justify-content: space-between;
  align-items: center;
}

.title {
  text-align: center;
  margin-bottom: 2rem;
}

.contact-icons {
  height: 12.3rem;
  justify-content: space-between;
}

.icon-align {
  align-items: center;
}

.my-contact .icon {
  margin-right: 3rem;
}

.input-container {
  height: 24rem;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .my-contact {
    row-gap: 5rem;
  }

  .contact-icons {
    height: 14.1rem;
  }

  .input-container {
    height: 42rem;
  }
}

@media screen and (min-width: 1024px) {
  footer {
    padding-top: 80px;
  }

  .my-contact {
    column-gap: 6%;
  }

  .contact-content {
    height: 23.8rem;
    align-items: flex-start;
  }

  .contact-content h2 {
    font-size: 5.5rem;
  }

  .title {
    text-align: left;
    margin-bottom: 3.5rem;
  }

  .contact-icons {
    height: 14.1rem;
  }
}

@media screen and (min-width: 1200px) {
  .my-contact {
    column-gap: 8rem;
  }

  .contact-content {
    height: 25rem;
  }
}

/* --- Footer Bar --- */
.footer-bar {
  background-color: #1f1f1f;
  margin-top: 60px;
  padding: 60px 0;
}

.main-footer {
  justify-items: center;
  row-gap: 3rem;
}

.main-footer p {
  text-align: center;
  font-size: 1.2rem;
}

.social-media {
  width: 16.5rem;
  justify-content: space-between;
  align-self: center;
}

.twitter,
.instagram,
.github,
.linkedin {
  transition: color 0.15s;
}

.twitter:hover {
  color: #00acee;
}

.instagram:hover {
  color: #bc2a8d;
}

.github:hover {
  color: #040204;
}

.linkedin:hover {
  color: #0077b5;
}

@media screen and (min-width: 768px) {
  .main-footer {
    row-gap: 4rem;
  }

  .main-footer p {
    font-size: 1.6rem;
  }

  .social-media {
    width: 16.5rem;
  }
}

@media screen and (min-width: 1024px) {
  .footer-bar {
    margin-top: 80px;
    padding: 46px 0;
  }

  .main-footer {
    justify-items: start;
    row-gap: 0;
    column-gap: 6.4rem;
  }

  .main-footer p {
    text-align: left;
    font-size: 1.6rem;
    order: -1;
  }

  .social-media {
    justify-self: end;
    width: 16.5rem;
  }
}

@media screen and (min-width: 1200px) {
  .main-footer {
    column-gap: 8%;
  }
}
